<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script src="https://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="HelloWorld">
    <div style="text-align: center">
        <p>网站建设中</p>
    </div>
<script type="text/javascript">
    /*<![CDATA[*/
    var app = angular.module('app', []);
    app.controller('HelloWorld', function($rootScope, $scope, $http) {

    });
    /*]]>*/
</script>
</body>
</html>