<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <script src="https://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="HelloWorld">
<div style="text-align: center">
    <ul>
        <li>请输入用户名:</li>
        <li><input ng-model="userName" type="text"/></li>
        <li>请输入密码:</li>
        <li><input ng-model="password" type="password"/></li>
        <li>
            <button type="button" ng-click="login()">注册</button>
        </li>
    </ul>
</div>
<script type="text/javascript">
    /*<![CDATA[*/
    var app = angular.module('app', []);
    app.controller('HelloWorld', function ($rootScope, $scope, $http) {
        $scope.login = function () {
            console.log($scope.userName);
            console.log($scope.password);
            $http.get("/user/register", {
                params: {
                    'userName': $scope.userName,
                    'password': $scope.password
                }
            }).success(function (response) {
                window.alert(response.message)
            }).error(function (repsonse) {

            })
        }
    });
    /*]]>*/
</script>
</body>
</html>